@page "/estruturas"

<PageTitle>Estruturas</PageTitle>

<h1>Estruturas</h1>
<h2>Tipos de inteiro</h2>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Tipo CTS</th>
                <th scope="col">Tipo C#</th>
                <th scope="col">Tamanho (em bytes)</th>
                <th scope="col">Valor mínimo</th>
                <th scope="col">Valor máximo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">System.SByte</th>
                <td>sbyte</td>
                <td>@System.Runtime.InteropServices.Marshal.SizeOf(typeof(System.SByte))</td>
                <td>@System.SByte.MinValue</td>
                <td>@System.SByte.MaxValue</td>
            </tr>
            <tr>
                <th scope="row">System.Byte</th>
                <td>byte</td>
                <td>@System.Runtime.InteropServices.Marshal.SizeOf(typeof(System.Byte))</td>
                <td>@System.Byte.MinValue</td>
                <td>@System.Byte.MaxValue</td>
            </tr>
            <tr>
                <th scope="row">System.Int16</th>
                <td>short</td>
                <td>@System.Runtime.InteropServices.Marshal.SizeOf(typeof(System.Int16))</td>
                <td>@Int16.MinValue</td>
                <td>@Int16.MaxValue</td>
            </tr>

        </tbody>
    </table>
</div>

@code {





}
